body{
    background-color: #08F4D2;
}
*
{
    padding: 0;
    margin: 0;
}
button{
    
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color:whitesmoke;
    background-color:rgb(4, 23, 40) ;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 50%;
    border:1px solid #08F4D2;

    
}

#home a, #about a, #contact a{
    color: aliceblue;
    text-decoration: none;
}


#conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 700px;
    padding: 10px;
}
#conteiner1{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-image: url("images/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    width: 99%;
    height: 99%;
}

    
    


img {
    display: block;
   padding:5%;
  margin-left: auto;
  margin-right: auto;
width: 250px;

image-rendering: pixelated;
border-radius:50%;

}







.h1{
    
    text-align: center;
    color: #08F4D2;
    
}



