
#container{
    display: flex;
    justify-content: center;
    border:6px dashed rgb(4, 173, 49);
    width: 60%;
  
    
    margin: auto;
  }
  
  p{
    font-size: 2rem;
    color: rgb(4, 173, 49);
    font-weight: 800;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .elevators{
    display: flex;
    flex-direction: column;
    

  }
  .elevator{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    
    height: 40px;
    

  
  }
  .elevator_lift{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 40px;
        background-color:orange;
        border-bottom:3px solid black;
        font-size: larger;
      
  }
  #floors{
    display: flex;
    flex-direction: column;
    
  }
  .floor{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 40px;
    background-color: chartreuse;
    margin-top: 5px;
    border-bottom: 3px solid black;
  }
  img{
    
    height: 40px;
  }