body{
    background-color: #08F4D2;
}
*
{box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button{
    
    text-align: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color:whitesmoke;
    background-color:rgb(4, 23, 40) ;
    font-size: 20px;
    
    
    border-radius: 30px;
    border:2px solid #08F4D2;

    
}

#home a, #about a, #contact a{
    color: aliceblue;
    text-decoration: none;
}



#conteiner{
    
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
    padding: 10px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-image: url("images/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
   max-width: 1600px;
    height: 750px;
}


#header{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
}
    
    #content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
    }


img {
    
   border: 3px solid #08F4D2;
   max-width: 250px;

    image-rendering: pixelated;
    border-radius:50%;

}







.h2{
    
    text-align: center;
    color: #08F4D2;
    font-family: sans-serif;
    
}



