
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://media.gettyimages.com/videos/soft-white-background-video-id1132439239?s=640x640");
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.flex{
    display: flex;
}
.conteiner{
    margin-left: auto;
    margin-right: auto;
    
    flex-flow: column nowrap;
    justify-content: space-evenly;
    

    max-width: 1200px;
    height: 700px;
}
.context{
    flex-flow: row nowrap;
    justify-content: center;

}
 
.child{

    /* flex:2; */
    
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 550px;
    
    background-image: url("images/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px;
}
.header{
    
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100px;
    text-align: center;
    font-size: larger;
}
.button{
    flex-flow: row nowrap;
    justify-content:center;
    
}
.travel{
    text-align: center;
    font-size: 30px;
    color: rgb(15, 123, 87);
    font-family:fantasy;
}
button{
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    font-size: large;
    background-color: rgb(15, 123, 87);
    border: 1px solid whitesmoke;
    width: 60px;
    height: 40px;

}
#playbtn{
    border-right: 3px solid whitesmoke;
}
#prev{
 width:30px;   
 height:30px;
 border:0cm;
 border-radius: 50%;
background-image: url("images/LeftRow.png");
background-size: cover;
background-position: center center;
}
#next{
    width:30px;   
    height:30px;
    border: 0cm;
    border-radius: 50%;
    background-image: url("images/RightRow.png");
    background-size: cover;
    background-position: center center;

}