*{
    padding:0;
    margin: 0;
    box-sizing: border-box; 
}
    body{
        height:100vh;
        
    }


.flex{
    display: flex;
    flex-wrap: nowrap;
}
.conteiner{
    
    
    flex-flow: column nowrap;
    
    max-width: 600px;
    min-width: 200px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgb(215, 215, 208);
}
#h2{
    justify-content: center;
}
.header{
    
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    height: 150px;
    max-width: 600px;
    
  }
  #input-zone{
      
      justify-content: center;
      

  }

  #to-do-input{
      
    /* flex:1; */
    width: 70%;
    height: 40px;
    outline:none;
    padding:2px;
}
  .context{
      
      position: relative;
      border: 3px solid whitesmoke;
      padding: 30px;
      
      
    
  }
  
  #add{
      
    cursor: pointer;
      background-color: rgb(185, 183, 183);
      width:30%;
      height: 40px;
      border: 0cm;
  }

     #add:hover{
      background-color: #fff;
    }

    #warning-div{
    
        display: none;
        max-width: 300px;
        height: 30px;
        background-color: rgb(241, 245, 245);
        text-align: center;
        color:red;
        font-size: larger;
        border: 1px solid grey;
    
    }


#ul{
    
    
    
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align:left;
    margin-left: 50px;
    
    }
li{
    display: flex;
    margin-left: 5px;
    list-style: none;
    color: #fff;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    
}
.listDivs:hover{
    background-color: rgb(184, 182, 182);
    cursor: pointer;
    
}
.listDivs{
    display: flex;
    
    justify-content: space-between;
    
    height: 30px;
    width: 300px;
    margin-bottom: 4px;
    background-color: rgba(108, 107, 107, 0.867);
    
    text-align: left;
}

.check{
    text-decoration: line-through;
    
    

}
.deleteBtn{
    
    cursor: pointer;
    font-size: small;
    width: 20%;
    height: 30px;
}

.deleteBtn:hover{
    background-color: #f44336;
}